# DENY ACCESS TO FOLDERS
Options -Indexes

# DENY ACCESS TO HIDDEN FILES, BEGINNING WITH A . - LIKE .htaccess
RedirectMatch 403 /\..*$

<IfModule mod_rewrite.c>
    RewriteEngine On

    # OVERWRITE index.php FILE
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.+) index.php?p=$1 [QSA,L]

    # FORCE HTTPS
    RewriteCond %{HTTPS} !on
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

    # DENY ACCESS TO DIRECTORIES
    RewriteRule (^|/)controller(/|$) - [F]
    RewriteRule (^|/)core(/|$) - [F]
    #RewriteRule (^|/)css(/|$) - [F]
    #RewriteRule (^|/)js(/|$) - [F]
    RewriteRule (^|/)view(/|$) - [F]
</IfModule>